.title {
  text-align: center;
  color: darkslategray;
  font-size: 2.5rem;
  margin-right: auto;
  margin-right: auto;
  height: 500px;
  display: block;
  background-color: #d6eef5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.posts {

}
